@charset "UTF-8";

:root{
    --greyapple: #ecf0f1;
    --greydark: #495057;
    --bluebackground: #227ab9;
    --yellowhover: #ffd146;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background-color: white;
    margin: 0px;
    font-size: 20px;
    position: relative;
    padding-bottom: 2.5rem;
    min-height: 100vh;
}

a
{
    text-decoration: none;
    color: white;
}

    a:hover
    {
    color: var(--yellowhover);
    }

.align-items-center {
    align-items: center !important;
    }

button,
[type=button],
[type=reset],
[type=submit] {
-webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    }

.btn-primary {
    color: var(--yellowhover);
    background-color: var(--bluebackground);
    border-color: var(--greyapple);
    }

.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--greydark);
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: var(--yellowhover);
  }


.d-flex {
    display: grid !important;
    }

.flex-fill {
    flex: 1 1 auto !important;
    }


 /* Style the form - display items horizontally */
 .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /* Add some margins for each label */
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  /* Style the input fields */
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  /* Style the submit button */
  .form-inline button {
    padding: 10px 20px;
    background-color: var(--bluebackground);
    border: 1px solid #ddd;
    color: white;
  }
  
  .form-inline button:hover {
    background-color: var(--bluebackground);
    color: var(--yellowhover);
  }
  

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
  }
  
  hr.light {
    border-color: #fff;
  }

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
  
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
  }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.2;
}
  
h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

.h-100 {
    height: 100% !important;
    }

.m-0 {
    margin: 0 !important;
    }

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-sm-0,
.my-sm-0 {
    margin-bottom: 0 !important;
  }

.mr-sm-2,
.mx-sm-2 {
    margin-right: 0.5rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
    }

.mt-2,
.my-2 {
  margin-top: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.row {
    display: grid;
    /* flex-wrap: wrap; */
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.text-center {
    text-align: center !important;
    }

.text-left {
    text-align: left !important;
    }

.text-uppercase {
    text-transform: uppercase !important;
    }

.text-black {
    color: black !important;
    }    

.text-black-50 {
    color: black !important;
    }

.text-white {
    color: white !important;
    }    

.text-white-50 {
    color: white !important;
    }

.text-muted {
    color: #6c757d !important;
    }

nav
{
    display: grid;
}

    nav .navbar{
        background-color: var(--bluebackground);
        display: grid;
        min-height: 85px;
        grid-auto-flow: column;
        grid-gap: 20px;
        padding: 0px 60px;
    }

    nav .navbar .logo{
        display: grid;
        justify-content: start;
        align-content: center;
    }

    nav .navbar .links{
        display: grid;
        justify-content: end;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40px;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-size: 16px;
    }
    
    nav .navbar .menu{
        display: none;
        justify-self: end;
        padding-top: 1.5rem;
    }

    /*
        nav .navbar menu:hover{
            filter: opacity(50%);
            cursor: pointer;
            user-select: none;
            -webkit-user-select: none;
        }    

    nav .dropdown{
        display: none;
        background-color: var(--greyapple);
        text-transform: uppercase;
        text-align: center;
    }

        nav .dropdown a{
            color: var(--bluebackground);
            padding: 20px;
        }

            nav .dropdown a:hover{
                color: var(--yellowhover);
                /*background-color:
            } */



.masthead {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    padding: 15rem 0;
    background: url("../assets/img/happyorder.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    }

    .masthead h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
            background-clip: text;
    }

    .masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
    }

.about-section {
    padding: 2.5rem 0;
}

    .about-section p {
    margin-bottom: 5rem;
    }
      
    
 .container{
    display: inline-block;
    position: relative;
    padding: 0px 60px;
    width: 100%;
}


.page-section {
    padding: 8rem 0;
}



footer {
    display: grid;   
    }

    footer .footerarea{
        background-color: var(--bluebackground);
        display: grid;
        min-height: 85px;
        grid-auto-flow: column;
        grid-gap: 20px;
        padding: 0px 60px;

    }

    footer .footerarea .footerlinks{
        display: grid;
        justify-content: start;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40px;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-size: 10px;
    }

    footer .footerarea .copyright
    {
        display: grid;
        justify-content: end;
        align-content: center;
        grid-auto-flow: column;
        grid-gap: 40px;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-size: 10px;
    } 

@media only screen and (max-width: 700px)
{
    /* nav .navbar .menu {
        display: initial;
    }             */

    nav .navbar .links .howitworkslink{
        display: none;
    }

    nav .navbar .links .signuplink{
        display:none;
    }

    .form-inline input {
        margin: 10px 0;
      }
    
      .form-inline {
        flex-direction: column;
        align-items: stretch;
      }
}


@media (min-width: 768px) {
    .masthead h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}
